body {
	background-image: url(../img/wall.png);
	font-family: 'poppins', sans-serif;
}

h1 {
	font-size: 3rem;
}

.cork {
	background-image: url(../img/cork.png);
}

img {
	max-width: 100%;
}

.pin {
	position: absolute;
	left: 50%;
	top: -2%;
	transform: translate(-50%, 0);
}

.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 150vh;
	position: fixed;
	padding: 10%;
	z-index: 1;
}
