body {
	background-image: url(../img/wall.png);
	font-family: 'Meow Script', sans-serif;
	font-style: bold;
}

h1 {
	font-size: 5rem;
}

.cork {
	background-image: url(../img/cork.png);
	margin-bottom: 50px;
	border-block: 5px solid rgb(86, 62, 0);
}

img {
	max-width: 100%;
}

.pin {
	position: absolute;
	left: 50%;
	top: -2%;
	transform: translate(-50%, 0);
	transition: all 0.2s;
}

.btn {
	font-family: 'poppins', sans-serif;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 150vh;
	position: fixed;
	padding: 5rem;
	z-index: 2;
	text-align: center;
	transform: translate(0, -50px);
}

.overlay img {
	width: 600px;
	margin: 0 auto;
}

.card:hover {
	transform: rotate(10deg) scale(1.1);
	z-index: 1;
	box-shadow: 10px 10px 50px rgb(44, 44, 44);
}

.card:hover .pin {
	transform: scale(0.0005);
	transform: translate(0, -100vh);
}

.card {
	transition: all 0.3s;
	box-shadow: 2px 2px 5px rgb(44, 44, 44);
}
